University of Pennsylvania Policy on Computer Software

(Source: Offices of the President and Provost Almanac 4/15/86) 

1. Purpose 

The policy set forth herein reflects the following goals: 

To maximize the incentive of University faculty and staff to create and
develop innovative and useful software for instruction, research and
operational purposes;

To minimize the administrative burden involved in its implementation; 

To minimize the potential for misunderstanding, controversy, and
litigation over the ownership and marketing of computer software;

To protect the interests and rights of all parties that may be involved in
the creation and development of software - faculty, support staff,
students, the University, and, in some cases, outside contractors; and

To encourage the University to develop a mechanism to facilitate
interaction between creators of computer software and potential developers
of software.

II. Policy Provisions 

1. Under ordinary circumstances, and as a general premise, the creator (or
creators) of computer software shall be deemed the owner of the software
in the sense that the creator has the right to market the software
directly or through arrangements with commercial enterprises or the
University. The creator is not obligated to share any part of the revenue
from the sale or licensing of the software with the University or, except
for Provision 3, with any office or organization within the University.
This policy is applicable even when the creator used University equipment
and facilities and received financial support from the University for the
specific project.

2. In recognition of the special relationship between the University and
its employees (including faculty) and students and the practical
difficulty of defining the equities in the various circumstances under
which software may emerge, the University shall have the absolute,
unrestricted right to use without charge, for any purpose, any software
created by or through the efforts of its personnel.

3. In addition to Provision 2, the University shall have a non-exclusive
right to market or license any software created by its faculty and staff
(and students when participating in University-sponsored or
University-related projects.) If the University invokes its marketing
option, whether acting alone or in concert with an external developer, its
net revenues shall be allocated in accordance with the existing patent
policy.

4. The creator of any item of software may petition the University to
waive its non-exclusive marketing rights. The determining official for
this action is the Vice Provost for Computing. Such a petition should
include a description of the software sufficient to enable that official
to make a tentative judgment as to whether commercial potential exists.

5. When software is developed through the efforts of two or more persons,
the potential financial interests of the various parties shall be made
clear in advance by a private agreement or understanding. Under such joint
undertakings, faculty members have a special obligation to deal fairly
with junior faculty and students. If the software is created by a research
center or other recognized entity of the University, the entity may adopt
a stated and consistently applied policy of vesting all rights to the
software in the entity, preempting the more general rights of the
University.

6. When any employees of the University, whether faculty or support staff,
or any outside contractor, have been given a specific task of creating or
enhancing a particular software product, with full support for the project
coming from the University, the latter shall routinely require that all
participants in the project waive in writing any financial interest in the
product that might otherwise accrue.

7. If the work leading to creation of a specific piece of software is
sponsored by a contract between the University and a government agency,
business firm, foundation, or other external institution, the provisions
of the contract under which the work is performed take precedence over
this policy.

III. Effective Date 

This policy shall become effective upon approval by the Trustees of the
University.  All contractual arrangements entered into by University
personnel after the effective date of the policy for the purpose of
exploiting the commercial potential of software created by such personnel
shall be subject to the provisions of this policy. Any contracts entered
into before that date shall be "grandfathered" and enforceable according
to their terms.

IV. Review and Evaluation 

This policy shall be formally reviewed and evaluated after it has been in
operation for three years.
