[Desktop Entry]
Encoding=UTF-8
Name=XV Image Viewer
GenericName=Image Viewer
Comment=XV Image Viewer
Comment[af]=Prent Aansig
Comment[ar]=عارض صور
Comment[bg]=Преглед на Картинки
Comment[br]=Diskouezer skeudennoù XV
Comment[bs]=Preglednik slika
Comment[ca]=Visualitzador de gràfics XV
Comment[cs]=Prohlížeč obrázků
Comment[de]=XV Bildbetrachter
Comment[da]=XV Billedfremviser
Comment[el]=Προβολή Εικόνων
Comment[eo]=Bildorigardilo
Comment[es]=Visor de imágenes
Comment[et]=Pildifailide vaatamine
Comment[eu]=Irudi Ikusgailua
Comment[fi]=XV - kuviennäyttäjä
Comment[fr]=Visualiseur d'images XV
Comment[he]=מציג תמונות
Comment[hr]=Preglednik slika
Comment[hu]=XV kép nézegető
Comment[is]=xv: Birta myndir af ýmsu tagi
Comment[it]=Visualizzatore Immagini XV
Comment[ja]=画像ビューア
Comment[lt]=Paveikslėlių žiūriklis
Comment[lv]=Bilžu Skatītājs
Comment[mt]=Werrej ta' stampi
Comment[nb]=XV-billedfremviser
Comment[nl]=afbeeldingenweergaveprogramma
Comment[nn]=Biletvisar
Comment[no]=XV-billedfremviser
Comment[pl]=Przeglądarka plików graficznych
Comment[pt]=Visualizador de imagens
Comment[pt_BR]=Visualizador de Imagens
Comment[ro]=Vizualizor de imagini în diverse formate
Comment[ru]=Просмотрщик изображений XV
Comment[sk]=Prehliadač obrázkov
Comment[sl]=Program za ogled in obdelavo slik XV
Comment[sv]=XV bildvisare
Comment[th]=เครื่องมือแสดงภาพ
Comment[tr]=Resim Görüntüleyici
Comment[uk]=Переглядач зображень
Comment[ve]=Muvhoni wa Tshifanyiso
Comment[vi]=Trình xem ảnh
Comment[xh]=Umboniseli Womfanekiso Obheka Phambili
Comment[zh_CN]=图片查看器
Comment[zh_TW]=圖片瀏覽程式
Comment[zu]=Umboniseli Womfanekiso
TryExec=xv
Exec=xv %F
Icon=xv
Terminal=false
Type=Application
MimeType=application/pdf;application/postscript;image/bmp;image/cmu-raster;image/fits;image/g3fax;image/gif;image/jp2;image/jpeg;image/jpm;image/jpx;image/pm;image/png;image/postscript;image/rle;image/targa;image/tiff;image/vnd.wap.wbmp;image/webp;image/x-bmp;image/x-fits;image/x-icb;image/x-iff;image/x-ilbm;image/x-ms-bmp;image/x-pcx;image/x-pds.vicar;image/x-photo-cd;image/x-png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-rgb;image/x-sgi;image/x-sun-raster;image/x-tga;image/x-vnd.sun.pm;image/x-xbitmap;image/x-xpixmap;image/x-xwindowdump;image/x-zx;image/xpm
Categories=Graphics;Utility;2DGraphics;Viewer;
X-Desktop-File-Install-Version=0.26
# vi: encoding=utf-8
